@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
  list-style: none;
  padding: 0;
  margin: 0;
}
body{
 background-size: 1950px;
 background-image:url('./images/pattern-background-desktop.svg');
 background-repeat: no-repeat;
 background-color: hsl(225, 100%, 94%);
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 16px; 
 font-family: 'Red Hat Display', sans-serif;
}

.container{
  background-color: #fff;
  margin-top: 200px;
  color:000;
  width: 450px;
  height: 650px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.ilustration{
  border-radius: 20px 20px 0px 0px; 
}

.card{
  padding: 40px;
}

h1{
  font-weight: 900;
  margin-bottom: 20px;
}

p{
  color: #717171;
  margin-bottom: 20px;
}

.plan{
  display: flex;
  box-sizing: border-box;
  background-color: #f7f7f7dc;
  padding: 15px;
  border-radius: 10px;
}
li {
  padding: 3px;
}

.plan a{
margin-top:20px;
margin-left: 90px;
font-weight: 700;
}

.annual{
  font-weight: 700;
}

.year{
  color: #717171;
}

.icon{
  padding: 10px;
}

.button{
  background-color:hsl(258, 89%, 28%) ;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
}

.payment{ 
  color: #fff;
  text-decoration: none;
  font-weight: 600;

}
.button-two{
  padding: 35px;
}
.cancel{
  text-decoration: none;
  font-weight: 900;
  color: #595959;
}

